/**
 * @Author: jecyu
 * @Date: 2017-12-11 4:49:47 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2018-01-18 2:59:20 pm 
 */

html,
body {
  font-family: "Microsoft YaHei", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  // width: 100%;
  height: 100%;
  line-height: 1.5;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}

html {
  font-size: 100px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

/* box-sizing 继承 html */
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  /* Chrome browser font-size is less than 12px The default is 12px solution */

  -webkit-text-size-adjust: none;
}

/* reset style */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
figure,
img,
a,
header,
footer,
main,
section,
article,
figcaption,
figure {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background: transparent;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #747474;
}

img {
  display: inline-block;
  border: 0;
}

a,
img {
  /* Prohibit long press links and picture pop-up menus */
  -webkit-touch-callout: none;
}

html,
body {
  /* prohibit select the text */
  -webkit-user-select: none;
  user-select: none;
}

/* html5 structure */
nav,
header,
footer,
main,
section,
article,
figcaption,
figure {
  display: block;
  box-sizing: border-box;
}

/* .nav-menu-list {
    float: left;
    margin-left: pxTorem(204px);
    font-size: 0;
    text-align: center;
    .menu-item {
        position: relative;
        display: inline-block;
        width: pxTorem(140px);
        font-size: pxTorem(20px);
        line-height: pxTorem(74px);
        transition: all 0.5s ease;
        &.active {
        }
        &:hover {
            background: rgba($color: #000000, $alpha: 0.1);
            .sub-menu-list {
                display: block;
            }
        }
        .iconfont {
            font-size: pxTorem(4px);
            vertical-align: middle;
        }
        .menu-item-link {
            color: #3c3c3c;
            &.active {
                color: #ff8700;
            }
        }
    }
}
 */
/* .sub-menu-list {
    position: absolute;
    display: none;
    width: pxTorem(140px);
    padding: pxTorem(20px) 0;
    filter: opacity(0.8);
    box-shadow: pxTorem(0px) pxTorem(0px) pxTorem(2px)
        rgba($color: #000000, $alpha: 0.4);
    background: #fff; // background: rgba($color: #000000, $alpha: 0.6);
    // display: none;
    .sub-menu-item {
        line-height: pxTorem(40px);
        height: pxTorem(40px);
        &:hover {
            background: rgba($color: #000000, $alpha: 0.1);
            a {
                color: rgb(243, 143, 26);
            }
        }
    }
}
 */
