/**
 * @Author: jecyu
 * @Date: 2018-01-16 2:32:54 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2018-01-18 11:08:19 pm 
 */

// banner
.section-banner {
  height: pxTorem(400px);
  width: 100%;
  @media screen and (max-width: 767px) {
    height: pxTorem(250px);
  }
}

/* banner */

.banner {
  display: block;
  overflow: hidden;
  position: relative;
  width: inherit;
  height: inherit;
  .banner-figcaption {
    z-index: 100;
    position: absolute;
    left: 10%;
    top: 60%;
    @include font-dpr(16px);
    color: rgb(255, 255, 255);
    strong {
      @include font-dpr(26px);
      font-weight: 400;
    }
  }
  .baner-figure {
    position: relative;
    width: 100%;
    height: 100%;
  }
  img {
    position: absolute; // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    width: 100%;
    height: 100%; // based on the position ansector: banner
  }
}

// section-main
.section-main {
  margin-top: pxTorem(40px);
  margin-bottom: pxTorem(40px);
}

/*==================== cooperation-ecology ======================*/

.cooperation-ecology {
  .tab {
    min-height: pxTorem(600px);
    .tabs-nav {
      margin-top: pxTorem(66px);
      padding-bottom: pxTorem(20px);
      @media screen and (max-width: 767px) {
        // display: flex;
        // align-items: center;
        margin-top: pxTorem(0px);
      } // width: pxTorem(300px);
      font-size: pxTorem(20px);
      .nav-item {
        // display: inline-block;
        float: left;
        width: 100%;
        @media screen and (max-width: 767px) {
          width: 25%;
          padding-left: pxTorem(0px);
          font-size: pxTorem(16px);
          text-align: center;
          margin-top: 0;
        }
        height: pxTorem(40px);
        line-height: pxTorem(40px);
        padding-left: pxTorem(24px);
        border: 0;
        box-sizing: border-box;
        &:not(:first-child) {
          margin-top: pxTorem(10px);
          @media screen and (max-width: 767px) {
            margin-top: pxTorem(0px);
          }
        }
        a {
          color: #828282;
          display: block;
        }
        &.active {
          border: 0;
          background: hsl(32, 100%, 50%);
          a {
            color: #fff;
          }
        }
      }
    }
    .tab-content {
      // width: pxTorem(750px);
      color: #828282;
      .tab-title {
        position: relative;
        margin-bottom: pxTorem(40px);
        font-size: pxTorem(28px);
        font-weight: normal;
        text-align: center;
        color: #5a5a5a;
      }
      .underline::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -60%;
        width: 8%;
        transform: translate(-50%, 0);
        height: pxTorem(3px);
        background: hsl(32, 100%, 50%);
      }
      .desc-item {
        margin-bottom: pxTorem(40px);
        .heading {
          position: relative;
          margin-bottom: pxTorem(20px);
          color: #828282;
          font-size: pxTorem(20px);
          &::after {
            content: "";
            display: block;
            margin-top: pxTorem(10px);
            height: pxTorem(3px);
            width: 3em;
            background: hsl(32, 100%, 50%);
          }
        }
        .figure {
          @media screen and(min-width: 768px) {
            margin-top: pxTorem(40px);
            width: pxTorem(700px);
          }
        }
        .info {
          color: #828282;
          line-height: 1.5;
          p {
            margin-bottom: pxTorem(20px);
          }
        }
        .upload-date,
        .No {
          text-align: center;
        }
        .filename {
          padding-left: 2em;
        }
      }
      .tab-item {
        display: none;
        &.active {
          display: block;
        }
      }
      .content-title {
        line-height: 1.5;
        margin-top: pxTorem(10px);
        margin-bottom: pxTorem(20px);
        text-align: justify;
        color: hsl(32, 100%, 50%);
      }
      p {
        text-align: justify;
        margin-bottom: pxTorem(20px);
      }
    }
    .content-1 {
      .content-text {
        @media screen and (min-width: 1200px) {
          padding-right: 0.5rem;
        }
      }
    }
    .content-2 {
      .content-body {
        padding: pxTorem(30px) pxTorem(15px);
        background: hsl(0, 0%, 98%);
        @media screen and (min-width: 1200px) {
          margin: 0;
        }
      }
      img {
        width: pxTorem(230px);
      }
      .content-text {
        @media screen and (min-width: 1200px) {
          margin-left: pxTorem(-80px);
        }
        text-align: justify;
      }
      .feature-item {
        position: relative;
        margin-bottom: pxTorem(10px);
        font-size: 16px;
        &::before {
          content: "";
          display: inline-block;
          margin: 0 pxTorem(4px) pxTorem(4px);
          width: pxTorem(15px);
          height: pxTorem(2px);
          background: hsl(32, 100%, 50%);
        }
      }
    }
    .content-3 {
      img {
        display: block;
        margin: pxTorem(20px) auto;
        width: pxTorem(80px);
        height: pxTorem(56px);
      }
      .content-body__item {
        // margin: 0 pxTorem(-15px);
        height: 100%;
        p {
          text-align: justify;
          padding-right: pxTorem(30px);
        }
        @media screen and (min-width: 1200px) {
          &:not(:last-child) {
            p {
              border-right: pxTorem(1px) dashed hsl(0, 0%, 60%);
            }
          }
        }
      }
      p {
        min-height: pxTorem(220px);
      }
    }
  }
  #cooperation_channels {
    .feature-list {
      color: #7d7d7d;
      .icon {
        display: inline-block;
        height: pxTorem(40px);
      }
      .title {
        margin-bottom: pxTorem(10px);
        color: hsl(32, 100%, 50%);
      }
      .feature-item {
        padding: pxTorem(15px);
      }
    }
    .sub-feature-list {
      .sub-feature-item {
        margin-bottom: pxTorem(10px);
      }
    }
  }
}
