/**
 * @Author: jecyu
 * @Date: 2018-01-04 5:16:51 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2018-01-18 2:37:02 pm 
 */

// banner

.section-banner {
  height: pxTorem(400px);
  width: 100%;
  @media screen and(max-width: 767px) {
    height: pxTorem(250px);
  }
}

/* banner */

.banner {
  display: block;
  overflow: hidden;
  position: relative;
  width: inherit;
  height: inherit;
  .banner-figcaption {
    z-index: 100;
    position: absolute;
    left: 10%;
    top: 60%;
    @include font-dpr(16px);
    color: rgb(255, 255, 255);
    strong {
      @include font-dpr(26px);
      font-weight: 400;
    }
  }
  .baner-figure {
    position: relative;
    width: 100%;
    height: 100%;
  }
  img {
    position: absolute; // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    width: 100%;
    height: 100%; // based on the position ansector: banner
  }
}

/* section-main */
.section-main {
  margin-top: pxTorem(62px);
}

/*======================= starry-software  ======================================*/

.starry-software {
  .section {
    text-align: center;
    // background: url(../images/digital_fujian-6@3x.png) no-repeat;
    background-size: contain;
    background-position: 100% pxTorem(230px);
    .section-title {
      position: relative;
      color: hsl(0, 0%, 35%);
      font-size: pxTorem(28px); // underline
      &::after {
        content: "";
        display: block;
        height: pxTorem(3px);
        width: pxTorem(40px);
        margin: pxTorem(25px) auto;
        background: hsl(31, 100%, 50%);
      }
    }
    .desc {
      margin-bottom: pxTorem(50px);
      font-size: pxTorem(16px);
      text-align: left;
      color: hsl(0, 0%, 51%);
      line-height: 1.5;
      @media screen and (max-width: 767px) {
        font-size: pxTorem(16px);
      }
      .desc-title {
        margin-bottom: pxTorem(20px);
        color: hsl(31, 100%, 50%);
        font-size: pxTorem(22px);
      }
      .desc-info {
        font-size: pxTorem(16px);
        margin-bottom: pxTorem(50px);
      }
    } // .figure {
    //     min-height: pxTorem(400px);
    //     text-align: center;
    img {
      @media screen and (min-width: 1200px) {
        width: pxTorem(360px);
      }
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
    .feature-list {
      .feature-item {
        &:not(:last-child) {
          margin-bottom: pxTorem(20px);
        }
      }
      .feature-title {
        color: hsl(31, 100%, 50%);
      }
      .feature-desc {
        line-height: 2;
        text-indent: pxTorem(20px);
      }
    }
    /* download-btn */
    .download-btn {
      display: flex;
      margin-top: pxTorem(46px);
      margin-bottom: pxTorem(18px);
      .btn {
        width: pxTorem(192px);
        margin: 0 pxTorem(10px);
        padding: pxTorem(10px);
        font-size: pxTorem(16px);
        text-align: center;
        color: #fff;
        background: hsl(31, 100%, 50%);
      }
    }
  }

  // Modal
  .modal-dialog {
    top: 30%;
    @media (min-width: 768px) {
      width: 300px;
      margin: 30px auto;
    }
    @media (max-width: 767px) {
      width: 300px;
      margin: 30px auto;
    }
    .prompt {
      text-align: center;
    }
  }
}
